<h2>Data Display</h2>
<body>
	<h3>Abstract</h3>
	<p>
		I am begining to practice coding again as I have started looking for full time employment.  None of these are particularly amazing graphs, but they are doing a great job of reminding me how d3.js works.  Please click around and enjoy.
	</p>
	<h3>Graphs</h3>
	<h4 class="html-bar-toggle toggle-box">HTML Bar Chart</h4>
	<div class="basic-html-bar-chart">
	</div>
	<h4 class="svg-bar-toggle toggle-box">SVG Bar Chart</h4>
	<svg class="svg-chart basic-svg-bar-chart"></svg>
	<h4 class="letter-bar-toggle toggle-box"> The Alphabet </h4>
	<svg class="svg-chart vertical-chart"></svg>
	<svg class="svg-circles"></svg>
	<div class="description">
		<h5> Description </h5>
		<p>A graph of the alphabet mapped to randomly generated numbers</p>
	</div>
	<p>
	  The time is now: <%= Time.now %>
	</p>
</body>