// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.svg-chart rect {
  fill: steelblue;
}

.svg-chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.toggle-box {
	border-width: 1px;
	border-style: solid;
	border-color: steelblue;
	&:hover {
		background-color: steelblue;
		cursor: pointer;
	}
}
